* {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none !important;
}

ul {
    margin: 0;
}

li {
    list-style: none;
}

:focus {
    outline: -webkit-focus-ring-color auto 0px !important;
    box-shadow: none !important;
}

canvas,
img {
    width: 100%;
}

#canvas {
    display: none;
}


/* profile style*/

.profile,
img.userImage {
    border-radius: 50%;
    width: 100%;
}


/* user result*/

#userResult {
    display: none;
}

.scanMessage {
    display: none;
}

.settingsBg {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #232323ad;
    z-index: 9999;
}

.setting {
    width: 600px;
    margin: auto;
    margin-top: 15vh;
    padding: 10px;
}